@model BlogSite.Models.UserChangeAndViewModel


<div class="image">
    <img src="@Model.Image" class="img-circle elevation-2" alt="User Image">
</div>
<div class="info">
    <a href="#" class="d-block">@Model.NameAndSunName</a>
</div>